
{%load static%}
<!DOCTYPE html>

<html>
<head>

	<meta content="" name="descriptison">
  <meta content="" name="keywords">
	<link rel="icon"
		type="image/png"
		href="{%static 'images/icon.png'%}">
  <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">



	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'home/style.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'home/style2.css'%}">
	<link rel="stylesheet" href="{%static 'home/style3.css'%}">


  	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="log"background="{%static 'images/bgc.jpg'%}">
	<script type="text/javascript">

	</script>
<div class="ho">

<div class="navbar">
	<ul class="main">
		<li>
      <img class="fav"src="{%static 'images/icon.png'%}" alt="">
    </li>
<li><ul class="subbar">
	<li><a class="a"href="{%url 'eventregister'%}">Events</a></li>
	<li> <a class="a" href="#schedule"> Schedule</a></li>
	<li> <a class="a" href="#reg_e"> Registered Events</a></li>
	<li> <a class="a" href="#about"> Our Story</a></li>
	<li><a class="a" href="#tutors">Spokespersons</a></li>
</ul></li>
	  <li class="tk">
	 <b> {{user.pycoins}} <img class="tkn"src="{%static 'images/token.png'%}" alt=""></b>
	 <b>{%if request.user.is_authenticated%}<a class="logout" href="{%url 'logout'%}">Logout</a></b>
        <b>{%else%}<a class="logout" href="{%url 'logout'%}">Login</a></b>{%endif%}
		</li>
	</ul>
</div>
<div class="hero">


<div style="display:flex;">
<h1 class="txt">PyWeek</h1>
<img src="{%static 'images/icon.png'%}" class="pyt">

</div>
<div class="box1">
  <a href="{%url 'eventregister'%}" class="bt btn-white btn-animation-1">Events</a>
</div>

</div>
<div class="he">


<a name="schedule"></a>
<h1>Don't risk to miss them!</h1>
	<div class="time">
		{%for time in times%}
	<div class="courses-container">
		<div class="course">
			<div style="background-image: url('{{time.image}}');"  class="course-preview" >


				<h6>{{time.date}}</h6>
				<h2>{{time.tutor.name}}</h2>
				<a >{{time.level}} <i class="fas fa-chevron-right"></i></a>
			</div>
			<div class="course-info">
				<div class="progress-container">


				</div>
				<h6>Chapter {{time.chapter}}</h6>
				<h2>{{time.name}}</h2>
				<a href="{%url 'eventregister'%}">
				<button class="btn1">Events</button></a>
			</div>
		</div>
	</div>

{%endfor%}

		</div>











<a name="reg_e"></a>
	{%if event%}
	<h1> Registered Events </h1>
		<div class="regs">
			{%for ws in event%}
  <div style="background-image:url('{{ws.event.image}}');"class="card1" >
    <h3 class="title">{{ws.event.name}}</h3>

  </div>
{%endfor%}
</div>

			{%endif%}
<a name="about"></a>
<h1> Our Story </h1>
  	<div id="details">
  		PyWeek2020 is an initiative taken up by the students of TKM College of Engineering, Kollam along with IEI association. <br>
It celebrates a week with coding and experiential learning and gives an opportunity to interact with professionals in order to learn the basics of Python and other related subjects.
The key objective of this program is to make students feel comfortable and to get rid of all the myths and fears associated with coding. It will make people realise the strength and simplicity of Python language and change them from being amateurs to confident Pythonistas.<br>
PyWeek2020 is divided into different events and competitions. Events include, learning Python, Django basics and advanced, OOP concepts, open CV and an informal session where the participants can interact with the coordinators. Some mind captivating competitions will also be conducted to test the skills. Students can participate and share their views right from the comfort of their home.
  	</div>
<a name="tutors"></a>
<h1>Spokespersons</h1>
<div class="tutors">
		{%for tutor in tutors%}
		<div class="card">
		   <div class="card-avatar">
				 <img src="{{tutor.image}}" alt="">
		   </div>
		   <div class="card-details">
		      <div class="name"><b>{{tutor.name}}</b></div>
		      <div class="occupation"><font color="black"><i>[{{tutor.field}}]</i></font></div>

		      <div class="card-about">
						<p>{{tutor.description}}</p>
		      </div>

		   </div>
		</div>
		{%endfor%}


	</div>



	</div>
</div>
</div>
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h3>PyWeek2020</h3>
              <p>
                <strong>Phone:</strong> +91 8075145852<br>
                <strong>Email:</strong> pyweek.ieicstkm@gmail.com<br>
                <strong>Website:</strong>http://ieitkmce.in/<br>
              </p>
              <div class="social-links mt-3">
                <a style="background:url('https://image.flaticon.com/icons/png/128/174/174855.png');background-size:contain;height:35px;width:50px"href="https://instagram.com/iei_tkm_cse?igshid=ld0xjtlh89j2" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a style="background:url('https://image.flaticon.com/icons/svg/174/174857.svg');background-size:contain;height:35px;width:50px" href="https://www.linkedin.com/company/iei-cse-tkmce" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">

							<i class="bx bx-chevron-right"></i> <a style="padding:0px;margin:0px;" href="https://niranjanprof.github.io/PyWeek2020/PyWeek/"><i style="font-size: 10px">@codingCrew</i></a>
          </font>
          </div>

         <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to stay posted with the latest health and fitness updates</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div> -->

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->
</div>
<script type="text/javascript" src="{%static 'app.js'%}">

</script>
</body>
</html>
